* {
  all: unset;
}

.status-bar {
  // background-color: black;
}

.container {
  background-color: transparent;
  color: #ff4151;
  font-size: 24px;
  font-weight: normal;
  font-family: "Input", Input, monospace;
  padding: 2px;
}

.clock {
}
